### 1. Write a Python script to compute cosine similarity between users' movie ratings.

In [2]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data = {
    'User': [1, 2, 3],
    'Movie A': [4, 5, 0],
    'Movie B': [5, 0, 3],
    'Movie C': [0, 3, 4]
}
df = pd.DataFrame(data)
df

   User  Movie A  Movie B  Movie C
0     1        4        5        0
1     2        5        0        3
2     3        0        3        4

In [4]:
matrix = df.set_index('User')
matrix

      Movie A  Movie B  Movie C
User
1           4        5        0
2           5        0        3
3           0        3        4

In [6]:
similarity_matrix = cosine_similarity(matrix)
similarity_matrix

array([[1.        , 0.53567158, 0.46852129],
       [0.53567158, 1.        , 0.4115966 ],
       [0.46852129, 0.4115966 , 1.        ]])

In [7]:
similarity_df = pd.DataFrame(similarity_matrix, index=matrix.index, columns=matrix.index)
similarity_df

User         1         2         3
User
1     1.000000  0.535672  0.468521
2     0.535672  1.000000  0.411597
3     0.468521  0.411597  1.000000

In [8]:
print("Cosine Similarity Matrix:")
print(similarity_df)

Cosine Similarity Matrix:
User         1         2         3
User
1     1.000000  0.535672  0.468521
2     0.535672  1.000000  0.411597
3     0.468521  0.411597  1.000000