### 2.Identify the most similar user to a target user based on their preferences using Jaccard similarity

In [10]:
import pandas as pd
from sklearn.metrics import jaccard_score

In [11]:
data = {
    'User': [1, 2, 3, 4, 5],
    'Movie A': [1, 1, 0, 1, 0],
    'Movie B': [1, 0, 1, 1, 0],
    'Movie C': [0, 1, 1, 1, 0]
}
df = pd.DataFrame(data)
df

   User  Movie A  Movie B  Movie C
0     1        1        1        0
1     2        1        0        1
2     3        0        1        1
3     4        1        1        1
4     5        0        0        0

In [12]:
matrix = df.set_index('User')
matrix

      Movie A  Movie B  Movie C
User
1           1        1        0
2           1        0        1
3           0        1        1
4           1        1        1
5           0        0        0

In [13]:
target_user = 1
target_vector = matrix.loc[target_user]
target_vector

Movie A    1
Movie B    1
Movie C    0
Name: 1, dtype: int64

In [14]:
similarities = {}

for user in matrix.index:
    if user != target_user:
        # Compute Jaccard similarity
        similarity = jaccard_score(target_vector, matrix.loc[user])
        similarities[user] = similarity
        
similarities

{2: np.float64(0.3333333333333333),
 3: np.float64(0.3333333333333333),
 4: np.float64(0.6666666666666666),
 5: np.float64(0.0)}

In [15]:
most_similar_user = max(similarities, key=similarities.get)
print(f"Most similar user to User {target_user} is User {most_similar_user} with Jaccard similarity {similarities[most_similar_user]:.2f}")

Most similar user to User 1 is User 4 with Jaccard similarity 0.67